.article-view
  .article-view-header(ng-if='ctrl.article')
    article-header(article='ctrl.article')
  .article-view-title
    h1 {{::ctrl.article.title}}
  .article-view-content
    {{::ctrl.article.content}}
  .article-view-comments(ng-if='ctrl.article')
    activity-stream(activitystream='ctrl.article', streams='ctrl.streams', writable='ctrl.writable')
