.article-view
  .article-view-header(ng-if='ctrl.article')
    article-header(article='ctrl.article')
  .article-view-title
    h1 {{::ctrl.article.title}}
  .article-view-content
    {{::ctrl.article.content}}
  .article-view-options
    .article-view-vote(ng-if='ctrl.article')
      vote(object-type='ctrl.ARTICLE_OBJECT_TYPE', object-id='ctrl.article._id')
  .article-view-comments(ng-if='ctrl.article')
    activity-stream(activitystream='ctrl.article', streams='ctrl.streams', writable='ctrl.writable')
