.article-view {

  .flex-column;
  .flex-horizontal-centered;
  .flex-grow;

  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;

  .article-view-header {
    
  }

  .article-view-title {
    h1 {
      font-size: 30px;
    }
  }

  .article-view-content {
    font-size: 18px;
    text-align: justify;
  }

  .article-view-comments {
    margin-top: 20px;
  }

}
