.article-list
  .tic-client-display(ng-repeat= "article in ctrl.articles")
    .article-card.clickable(ui-sref="article.article-view({ article: article, articleId: article._id })")
      span {{article.title}}
fab(ui-sref='article.article-add')
