.article-list
  .card.clickable(ng-repeat= "article in ctrl.articles", ui-sref="article.article-view({ article: article, articleId: article._id })")
    .card-header
      h2 {{article.title}}
    .card-body()
      {{article.headline}}
fab(ui-sref='article.article-add')
