.article-list-empty
  .content
    h2 Welcome to your own public consultation instance
    .howto
      span #{__('You can now create articles by clicking on the yellow + button below, and start debating!')}
    .chat
      span #{__('Also, we have setup a chat system just for you. Click on the square menu on the top right and choose "Chat".')}
      span #{__('There is a default channel called "General". You can create as many channels as you wish to organize the collaborations.')}
