.article-list-item
  article-list-item-header(article='ctrl.article')
  .title
    h1
      a(ui-sref="article.article-view({ article: ctrl.article, articleId: ctrl.article._id })") {{::ctrl.article.title}}
    .status
      span(ng-if="ctrl.article.status === ctrl.ARTICLE_STATUS.closed") #{__("closed")}
  .summary.clickable(ui-sref="article.article-view({ article: ctrl.article, articleId: ctrl.article._id })")
    span(ng-bind-html="ctrl.article.parsedSummary")
  .bottom
    .read-more
      a(ui-sref="article.article-view({ article: ctrl.article, articleId: ctrl.article._id })") #{__('Read more...')}
    .stats
      .left
        .likes(ng-class="{liked: ctrl.liked}")
          i.mdi.mdi-heart
          span {{::ctrl.article.stats.likes.size || 0}}
        .comments
          i.mdi.mdi-comment-outline
          span {{::ctrl.article.stats.comments.size || 0}}
      .votes
        vote-summary-lite(object-type='ctrl.ARTICLE_OBJECT_TYPE', object-id='ctrl.article._id')
